@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
  
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* Declaring global CSS variables */
:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --main-head: hsl(0, 0%, 100%);
  --main-para: hsla(0, 0%, 100%, 0.75);
  --stat-head: hsla(0, 0%, 100%, 0.6);
  --main-font-family: 'Lexend Deca', sans-serif;
  --heading-font-family: 'Inter', sans-serif;
  --main-font-size: 15px;
}

body {
  background-color: var(--main-bg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--card-bg);
  max-width: 22em;
  border-radius: 0.5em;
}

.img-header {
  background: var(--soft-violet);
  flex: 1;
}

.img-header, img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 16em;
  width: 100%;
}
  
img {
  object-fit: cover;
  opacity: 0.5;
  filter: brightness(250%);
  filter: contrast(150%);
}

.card-content h1 {
  padding: 1em 0.8em;
}

.card-content h1, .stat ul li span {
  font-family: var(--heading-font-family);
  color: var(--main-head);
  font-size: 2em;
  font-weight: 700;
}

.card-content p {
  padding: 0 2.5em 1em;
}

.card-content p, .stat ul li {
  color: var(--main-para);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 200%;
  text-align: center;
}

.card-content h1 span {
  color: var(--soft-violet);
}

.stat ul {
  list-style-type: none;
}

.stat ul li {
  text-transform: uppercase;
  padding: 1.5em 8em;
}

.attribution { 
  font-size: 0.69rem; 
  text-align: center; 
  margin-top: 0.75em;
  color: var(--main-head);
  font-weight: 300;
}
  
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1280px) {
  .card {
    min-width: 70em;
    height: auto;
    flex-direction: row;
  }

  .img-header, img {
    border-top-left-radius: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 30em;
    width: 100%;
    flex: 100%;
  }
    
  img {
    object-fit: cover;
    opacity: 0.5;
    filter: brightness(250%);
    filter: contrast(150%);
  }

  .card-content {
    text-align: left;
    order: -1;
    margin-left: 2em;
  }

  .card-content h1 {
    padding: 2em 4em 1em 1em;
  }

  .card-content p {
    text-align: left;
    margin: 0 5em 2em 0;
  }

  .stat ul {
    display: flex;
    flex-direction: row;
  }
  
  .stat ul li {
    text-align: left;
    padding: 1em 0 1em 2em;
  }
}
