@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    box-sizing: border-box;
    line-height: 1.15;
}
  
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Declaring global CSS variables */
:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --main-head: hsl(0, 0%, 100%);
    --main-para: hsla(0, 0%, 100%, 0.75);
    --stat-head: hsla(0, 0%, 100%, 0.6);
    --main-font-family: 'Lexend Deca', sans-serif;
    --heading-font-family: 'Inter', sans-serif;
    --main-font-size: 15px;
}

body {
    background-color: var(--main-bg);
    font-family: var(--main-font-family);
    min-height: 100vh;
    color: var(--main-head);
    font-size: var(--main-font-size);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--card-bg);
    margin: 300px;
}

.row {
    width: 1080px;
    height: 446px;
}

h1 {
    font-family: var(--heading-font-family);
    color: var(--main-head);
    font-weight: 700;
}

h2 {
    font-family: var(--main-font-family);
    color: var(--main-para);
    font-size: 15px;
    line-height: 1.6em;
}

p {
    color: var(--main-para);
    font-weight: 400;
    padding: 0 4em 1em 4em;
    line-height: 1.6em;
    font-size: 80%;
}

.purple {
    color: var(--soft-violet);
}

ul {
    color: var(--stat-head);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.thick {
    font-size: 30px;
    font-weight: 700;
}

.card {
    padding: 0;
    border-width: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--soft-violet);
    border-radius: 15px;
    cursor: pointer;
    z-index: 1000;
}

.row .col .content {
    margin-left: 100px;
}
